$fontFam_uqReg: UniqloProRegular,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$fontFam_hel: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$colComing: #378694;
$colWomen: red;
$colMen: #020d80;
$colKids: #4fb3ef;
$colBaby: #98c800;


#secondary {
    display: none !important;
}

#primary {
    width: 100% !important;
}


#utLanding {
    * {
        box-sizing: border-box;
    }
    img {
        display: block;
    }
    h2 {
        font-family: $fontFam_uqReg;
        font-size: 50px;
    }
    h3 {
        font-family: $fontFam_uqReg;
    }
    p {
        font-family: $fontFam_hel;
    }
    #utHero {
        // margin-top: 100px;
        position: relative;
        padding: 25px 20px;
        background: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        &::after {
            content: '';
            background: url('https://uniqlo.scene7.com/is/image/UNIQLO/us_pc_UT_pattern?$png$');
            opacity: 0.1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 1;
        }
    }
    #utCaroMain {
        margin: 0 -70px;
        z-index: 2;
        .utMainImgWrp {
            position: relative;

        }
        .utMainCta {
            visibility: hidden;
            // display: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            opacity: 0;
            transition: opacity 0.3s;
            h3 {
                visibility: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 29%;
                padding: 4px 5px;
                font-family: $fontFam_hel;
                font-size: 8px;
                font-weight: 500;
                color: white;
                text-transform: uppercase;
                text-align: center;
                border: 2px solid white;
                transition: all 0.2s;
                &:hover {
                    visibility: visible;
                    border: 2px solid black;
                    background: black;
                    transition: visibility 0.3s;
                }
            }
        }
        .slick-current:hover {
            .utMainImgWrp {
                .utMainCta {
                    visibility: visible;
                    background-color: rgba(0, 0, 0, 0.7);
                    opacity: 1;
                    transition: opacity 0.3s;
                    h3 {
                        visibility: visible;
                        padding: 4px 5px;
                        border: 2px solid white;
                        transition: border 0.3s;
                    }
                }
            }
        }
        .utReleaseMsg {
            transform: translateX(-13%);
            width: 135%;
            margin-top: 7px;
            color: white;
            text-align: center;
            opacity: 0;
            transition: opacity 0.5s;
            h3 {
                font-size: 10px;
                text-transform: uppercase;
                span {
                    font-weight: 500;
                }
            }
            h4 {
                font-size: 9px;
            }
        }
        .slick-list {
            overflow: visible;
            padding: 0 !important;
        }
        .slick-slide {
            margin: 0 80px;
            transform: scale(0.75);
            transition: all 0.5s;
        }
        .slick-slide.slick-center {
            transform: scale(2.25);
            transition: all 0.5s;
            .utReleaseMsg {
                opacity: 1;
                transition: opacity 0.5s;
            }
        }
        button.slick-prev {
            left: 60px;
        }
        button.slick-next {
            right: 60px;
        }
    }
    #utCaroSmall {
        width: calc(55% + 5px);
        margin: 0 auto;
        padding-top: 30px;
        z-index: 2;
        .utTileWrapper {
            position: relative;
            .utTileOver {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.7);
                transition: all 0.5s;
            }
        }
        .slick-slide {
            margin: 0 10px;
            // border: 2px solid transparent;
            transition: all 0.7s;
        }
        .slick-slide.slick-current {
            // border: 2px solid red;
            background: white;
            transition: all 0.7s;
            .utTileOver {
                background: rgba(255, 255, 255, 0);
                transition: all 0.3s;
            }
        }
    }
    #utGenNav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0px 0 0;
        a {
            // flex-grow: 1;
            flex-basis: 24%;
            // width: 25%;
            // padding: 10px;
            margin-top: 5px;
        }
        h3 {
            width: 100%;
            // margin: 17px 17px 0;
            padding: 14px 40px 15px;
            font-family: $fontFam_hel;
            font-size: 18px;
            font-weight: 500;
            color: white;
            text-align: center;
            border: 3px solid transparent;
            transition: all 0.3s;
            &.utNavM {
                background: $colMen;
                &:hover {
                    color: $colMen;
                    border: 3px solid $colMen;
                    background: white;
                    transition: all 0.3s;
                }
            }
            &.utNavW {
                background: $colWomen;
                &:hover {
                    color: $colWomen;
                    border: 3px solid $colWomen;
                    background: white;
                    transition: all 0.3s;
                }
            }
            &.utNavK {
                background: $colKids;
                &:hover {
                    color: $colKids;
                    border: 3px solid $colKids;
                    background: white;
                    transition: all 0.3s;
                }
            }
            &.utNavB {
                background: $colBaby;
                &:hover {
                    color: $colBaby;
                    border: 3px solid $colBaby;
                    background: white;
                    transition: all 0.3s;
                }
            }
        }
    }
    #utCollection {
        h2 {
            padding: 50px 0 40px; // font-size: 43px;
            font-weight: 700;
            text-align: center;
            overflow: hidden;
        }
        article {
            margin-bottom: 30px;
            .utColHdr {
                position: relative;
                width: 100%;
                height: 16vw;
                color: white;
                cursor: pointer;
                border: 1px solid lightgray;
                border: 3px solid black;
                background: black;
                transition: all 0.4s;
                &:hover {
                    background: #4b4b4b;
                    transition: all 0.4s;
                    .utHdrTitle {
                        color: white;
                        transition: all 0.4s;
                    }
                }
                .utColMain {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .utHdrIcon {
                    width: 83px;
                    margin: 0 auto;
                }
                .utHdrTitle {
                    margin-top: 10px;
                    font-size: 36px;
                    letter-spacing: 3px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: all 0.4s;
                }
                .utHdrHandle {
                    position: absolute;
                    top: 50%;
                    right: 5%;
                    transform: translateY(-50%);
                    width: 40px;
                    img {
                        transform: rotate(0deg);
                        transform-origin: 20px 20px;
                        transition: all 0.6s;
                        &.rotated {
                            transform: rotate(180deg);
                            transform-origin: 20px 20px;
                            transition: all 0.6s;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
                .fa-angle-down {
                    position: absolute;
                    top: 50%;
                    right: 5%;
                    transform: translateY(-50%) rotate(0deg);
                    font-size: 65px;
                    line-height: 0;
                    transition: all 0.5s;
                    &.rotated {
                        transform: rotate(180deg);
                        transition: all 0.5s;
                    }
                }
            }
            .utColHidn {
                position: relative;
                margin: 40px 20px !important;
                overflow: hidden;
                display: none;
                hr {
                    height: 2px;
                    border: 0;
                    background: black;
                    margin: 40px 0 60px;
                }
            }
            h3 {
                &.utColTitle {
                    font-size: 46px;
                }
            }
            p {
                // font-family: $fontFam_hel;
                font-size: 21px;
            }
            .utProdTiles {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0 -10px;
                .utOneTile {
                    flex-basis: 25%;
                    margin-bottom: 60px;
                    padding: 10px;
                    // white-space: pre-line;
                    &.3col {
                        flex-basis: 33.33333%;
                    }
                    .utTileOverlay {
                        position: relative;
                    }
                    .utTileCta {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0);
                        transition: background-color 0.3s;
                        h3 {
                            visibility: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 54%;
                            padding: 6px 7px;
                            font-family: $fontFam_hel;
                            font-size: 16px;
                            font-weight: 500;
                            color: white;
                            text-transform: uppercase;
                            text-align: center;
                            border: 3px solid white;
                            transition: all 0.1s;
                            &:hover {
                                // visibility: visible;
                                // border: 2px solid black;
                                // background: black;
                                // transition: visibility 0.3s;
                            }
                        }
                    }
                    &:hover {
                        .utTileOverlay {
                            position: relative;
                        }
                        .utTileCta {
                            background-color: rgba(0, 0, 0, 0.7);
                            transition: background-color 0.3s;
                            h3 {
                                visibility: visible;
                                transition: all 0.3s;
                            }
                        }
                    }
                }
                h3 {
                    // padding-bottom: 10px;
                    // font-family: $fontFam_uqReg;
                    font-size: 25px;
                    text-transform: uppercase;
                }
                h4 {
                    display: inline-block;
                    margin: 10px 1px 5px;
                    padding: 3px 10px;
                    // font-family: $fontFam_uqReg;
                    font-size: 15px;
                    color: white;
                    text-transform: uppercase;
                    background: black;
                    &.utFlagCom {
                        display: table;
                        margin-bottom: -5px;
                        background: $colComing;
                    }
                    &.utFlagM {
                        background: $colMen;
                    }
                    &.utFlagW {
                        background: $colWomen;
                    }
                    &.utFlagK {
                        background: $colKids;
                    }
                    &.utFlagB {
                        background: $colBaby;
                    }
                }
            }
            // Temp Styling
            // 
            img {
                // width: 100%;
            }
        }
    }
    .copyright {
        float: left;
        width: 100%;
        // font-family: $fontFam_hel;
        font-size: 10px;
        color: darkgray;
        text-align: left;
        background: none;
    }
}

button.slick-arrow {
    top: 56%;
    z-index: 1;
}

button.slick-prev,
button.slick-arrow.slick-prev:hover,
button.slick-arrow.slick-prev:focus {
    width: 15px;
    height: 69px;
    background: url(https://www.uniqlo.com/na-static/on/demandware.static/Sites-UniqloUS-Site/-/default/v1504016526668/images/sprite-uniqlo.png) -97px -727px no-repeat;
}

button.slick-next,
button.slick-arrow.slick-next:hover,
button.slick-arrow.slick-next:focus {
    width: 15px;
    height: 69px;
    background: url(https://www.uniqlo.com/na-static/on/demandware.static/Sites-UniqloUS-Site/-/default/v1504016526668/images/sprite-uniqlo.png) -108px -819px no-repeat;
}