$color_1: white;
$color_2: black;
$color_3: red;
$color_4: inherit;
$fontFam_1: 'Helvetica Neue',
Helvetica,
Arial;
$fontFam_uqReg: UniqloProRegular,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$fontFam_3: "Helvetica Neue",
Helvetica,
Arial,
"Lucida Grande",
sans-serif;
$bgCol_1: white;
$bgCol_2: #378694;
$bgCol_3: black;
$bgCol_4: #dadada;
$bgCol_5: #f2f3f5;
$bgCol_6: rgba(235, 235, 235, 0.8);
$bgCol_7: #fff;
$bgCol_8: #000;
$bgCol_9: inherit;
.modalCarousel {
    display: flex;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .slick-slide {
        margin: 10px 0;
    }
    .slick-list {
        margin: -10px 0;
    }
    .slick-current {
        border: 2px solid black;
        box-sizing: border-box;
    }
    .slick-next {
        left: 50%;
        bottom: -15% !important;
        top: initial !important;
        transform: translateX(-50%) rotate(90deg);
    }
    .slick-prev {
        left: 50% !important;
        top: -15% !important;
        transform: translateX(-50%) rotate(90deg);
    }
}

#navCarousel {
    flex: 20%;
    margin: auto 15px auto 0;
}

#slideCont {
    flex: 80%;
}

.teaserHero {
    display: flex;
    margin-bottom: 30px;
    img {
        width: 100%;
        min-width: 0;
        align-self: center;
    }
}

div#categoryspecific {
    display: none !important;
}

.search-promo {
    display: none !important;
}

.bottom_banner {
    // display: none !important;
}

#secondary {
    // display: none !important;
}

#primary {
    // width: 100% !important;
}

#utCat {
    padding-top: 10px;
    padding-bottom: 10px;
    .teaserContent {
      overflow: hidden;
        max-width: 980px;
        margin: 40px 60px 60px;
        // padding-top: 20px;
        background-color: $bgCol_1;
        .flexContainer {
            display: flex;
            // max-width: 85%;
            margin: 0 auto;
            padding: 40px;
            flex-direction: row;
            img {
                width: 200px;
                height: 100%;
            }
        }
        .bioCopy {
            .title {
                font-size: 24px;
            }
            .sub {
                font-size: 16px;
                font-family: $fontFam_1;
            }
            small {
                display: block;
                font-size: 11px;
                margin-top: 10px;
                font-family: $fontFam_1;
            }
        }
        .copy {
            h1 {
                font-size: 34px;
                margin-bottom: .45em;
                color: $color_2;
                font-family: $fontFam_uqReg;
            }
            p {
                font-size: 18px;
                font-family: $fontFam_3;
            }
        }
        .available {
            .disclaimer {
                font-size: 14px;
                text-decoration: underline;
                margin-top: 10px;
            }
            .disclaimerCopy {
                font-size: 12px;
                margin-top: 5px;
            }
            .date {
                color: $color_3;
                font-size: 24px;
                font-family: $fontFam_uqReg;
                margin-top: 30px;
            }
            .price {
                font-size: 21px;
                font-family: $fontFam_uqReg;
                margin: .75em 0;
            }
        }
        .eventInfo {
            .eventDetails {
                margin: 14px 0;
            }
            .cta {
                margin: 14px auto;
                border: 2px solid black;
                text-align: center;
                width: 150px;
                a {
                    font-family: $fontFam_uqReg;
                    font-size: 18px;
                    padding: 8px 0;
                    display: block;
                }
                &:hover {
                    background-color: $bgCol_3;
                    transition: all .075s linear;
                    a {
                        color: $color_1;
                        transition: all .075s linear;
                    }
                }
            }
            .eventTitle {
                font-size: 24px;
                font-family: $fontFam_uqReg;
                margin-top: 30px;
            }
            .eventTiming {
                color: $color_3;
                font-size: 21px;
                font-family: $fontFam_uqReg;
                margin-bottom: 14px;
            }
        }
        .divider {
            width: 50%;
            background-color: $bgCol_4;
            height: 1px;
            margin: 30px auto;
        }
        h3.toggleSee {
          display: block;
          width: 40%;
          margin: 0 auto;
          margin-bottom: 60px;
          padding: 10px 20px;
          font-family: $fontFam_uqReg;
          font-size: 16px;
          color: black;
          text-align: center;
          background: white;
          border: 3px solid black;
          cursor: pointer;
          transition: all 0.2s;
          &:hover {
            color: white;
            background: black;
            transition: all 0.2s;
          }
        }
        .seeMe {
          display: none;
        }
        .teaserMovie {
            margin: 30px auto;
            display: block;
            width: 85%;
            height: 440px;
        }
        .products {
            h4 {
                text-align: center;
                margin: 1em 0;
                font-size: 32px;
                font-family: $fontFam_uqReg;
            }
            .productList {
                display: flex;
                flex-wrap: wrap;
                padding: 0 7.5%;
                margin: -1% 0 0 -1%;
            }
        }
        .productList {
            .column {
                flex-grow: 0;
                width: calc(100% * (1/4) - 1%);
                margin: 1% 0 0 1%;
                padding: 1%;
                box-sizing: border-box;
                background-color: $bgCol_5;
            }
        }
        .productDetail {
            display: flex;
            margin: 10px 0;
        }
        .productName {
            font-family: $fontFam_uqReg;
            font-size: 12px;
        }
        .productPrice {
            font-size: 20px;
            text-align: right;
            font-family: $fontFam_3;
        }
    }
}

.bio {
    display: flex;
    max-width: 85%;
    margin: 0 auto;
    flex-direction: row;
    margin: 60px auto;
}

.gwp {
    display: flex;
    max-width: 85%;
    margin: 0 auto;
    flex-direction: row;
    margin: 60px auto;
}

.bioCopy {
    margin: auto 0 auto 4%;
}

.gwpCopy {
    margin: auto 0 auto 4%;
    .title {
        font-size: 24px;
    }
    .sub {
        font-size: 16px;
        font-family: $fontFam_1;
    }
    small {
        display: block;
        font-size: 11px;
        margin-top: 10px;
        font-family: $fontFam_uqReg;
    }
}

.flag {
    background-color: $bgCol_2;
    color: $color_1;
    display: inline-block;
    padding: 1px 5px !important;
    margin-bottom: 4px !important;
    font-size: 14px;
}

.copy {
    flex: 1;
    margin: auto 0 auto 25px;
}

.eventInfo {
    .eventDetails {
        font-size: 18px;
        font-family: $fontFam_3;
    }
    text-align: center;
    padding: 2em 0;
    max-width: 85%;
    margin: 0 auto;
    small {
        font-size: 12px;
    }
}

.available {
    text-align: center;
    padding: 2em 0;
    max-width: 85%;
    margin: 0 auto;
    small {
        font-size: 12px;
    }
}

.column {
    img {
        transition: opacity .25s linear;
        -webkit-backface-visibility: hidden;
        display: block;
        padding: 4%;
        background-color: $bgCol_5;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
            -webkit-backface-visibility: hidden;
            opacity: .6;
            transition: opacity .25s linear;
        }
    }
}

.productName {
    flex: 50%;
}

.productPrice {
    flex: 50%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.modal-bg {
    width: 100%;
    height: 100%;
    background-color: $bgCol_6;
}

.modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    margin-left: -350px;
    padding: 30px;
    font-size: 0;
    transform: translateY(-50%);
    background-color: $bgCol_7;
    box-sizing: border-box;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
    padding: 14px;
    cursor: pointer;
    &:before {
        position: absolute;
        top: 26px;
        right: 12px;
        content: '';
        display: block;
        width: 28px;
        height: 2px;
        background-color: $bgCol_8;
        transform-origin: center center;
        transform: rotate(45deg);
    }
    &:after {
        position: absolute;
        top: 26px;
        right: 12px;
        content: '';
        display: block;
        width: 28px;
        height: 2px;
        background-color: $bgCol_8;
        transform-origin: center center;
        transform: rotate(-45deg);
    }
}

.productLogo {
    width: 75%;
    display: block;
    margin: 0 auto;
}

.fa-chevron-left {
    font-size: 30px;
}

.fa-chevron-right {
    font-size: 30px;
}

#heroCaro {
    max-width: 85%;
    margin: 30px auto 0;
    position: relative;
    .owl-nav {
        position: absolute;
        width: 100%;
        top: 41%;
        transform: translateY(-50%);
        button {
            &:first-child {
                position: absolute;
                left: -4.2%;
            }
            &:last-child {
                position: absolute;
                right: -4.2%;
            }
        }
    }
    .owl-theme {
        .owl-nav {
            .disabled {
                background-color: $bgCol_9 !important;
                opacity: .35;
            }
        }
    }
}

.owl-theme {
    .owl-nav {
        .disabled {
            &:hover {
                color: $color_4 !important;
            }
        }
    }
}

.owl-dots {
    margin-top: 15px;
}

#primary {
    .categorybreadcrumb {
        margin: 10px auto 14px 19px;
    }
}

#utCat {
    background-image: url("https://uniqlo.scene7.com/is/image/UNIQLO/18FW_UT_KawsxSesameStreet_backgroundpattern");
    background-size: 0.5 auto;
    background-repeat: repeat;
}

.breadcrumb {
    h1 {
        background: #ffffff87;
        padding: 5px;
    }
}

.categorybreadcrumb {
    h1 {
        background: #ffffff87;
        padding: 5px;
    }
}